* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-flow: wrap row;

   width: 600px;
   height: 600px;
    
    margin: auto;
}



.square {
    width: calc(100% / 10);
    height: calc(100% / 10);

    border: 1px solid black;
}

.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
    
    border: 1px solid black;
}

.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
    
    border: 1px solid black;
}

.blue {
    background-color: blue;
}